<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>

    <div class="alert-box">
        <p class="alert"></p>
    </div>

    <div class="login-container">
        <h1 class="heading">Register</h1>
        <ul>
            <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
            <li><%= error.message %></li>
            <% }) %> <% } %>
          </ul>
          
        <form action="/users/create_account" method="POST">
            <div>
                <input type="text" placeholder="name" id="name" name="name" autocomplete="off" required>
            </div>
            <div> 
                <input type="email" placeholder="email" id="email" name="email" autocomplete="off" class="email" required>
            </div>
            <div>
                <input type="password" placeholder="password" id="password" name="password" autocomplete="off" required> 
            </div>
            <div> 
                <input type="password" placeholder="confirm password" id="password2" name="password2" autocomplete="off" required> 
            </div>
            <div>
                <input type="submit" value="Register" class="submit-btn">
            </div>
            <a href="/" class="link">Already have an account? Log in here</a>
        </form>
    </div>
    
</body>
</html>