<!DOCTYPE html>
<html>
<head>
    <title>My HTTP Page</title>
</head>
<body>
    <h1>Welcome <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>

    <a href="/users/logout">Logout</a>
</body>
</html>
