<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="style.css"> 
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>

        <ul>
            <% if(messages.success_msg) { %>
                <li><%= messages.success_msg %></li>
          <% } %>
        </ul>

        <ul>
            <% if(messages.error) { %>
                <li><%= messages.error %></li>
          <% } %>
        </ul>

        <form action="/" method="POST">
              <!-- Text input for username -->
              <input type="text" id="email" name="email" placeholder="email">

              <!-- Password input -->
              <input type="password" id="password" name="password" placeholder="password" required>
              <br>
            <input class="btn" type="submit" value="Login">
        </form>
        
        <!-- <script src="script.js"></script> -->
    </div>
    <a href="/users/create_account" class="btn create-account">Create New Account</a>
</body>
</html>
